/* imgとmainは全てに共通する部分なので上の方に書いて下さい */
img {
	width: 100%;
	height: 100%;
	/* レッスンではimgの親要素につけると話しましたがimgにつけるが正しそうです。そのためimgに付与してあげて下さい */
	/* object-fit: cover;は指定したwidthとheightいっぱいまで画像が広がります */
	object-fit: cover;
}

main {
	/* 全体のレイアウトをここで指定します */
	max-width: 1280px;
	/* 中央に寄せます */
	margin: 0 auto;
}

/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
	main {
		/* 全体のレイアウトをここで指定します */
		width: 100%;
		/* 中央に寄せます */
		padding-left: 30px;
	}
}

/*サイトタイトル */
.sitetitle {
	margin: 0px 0px 0px 100px;
	padding: 0px;
	text-align: left;
	color: #40534d;
}

/* ナビゲーションメニュー */
.nav_menu {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	justify-content: right;
	color: #40534d;
	max-width: 900px;
}

.nav_menu_item {
	margin: 0px 20px 0px 20px;
}
/* スライダーのスタイル設定 */
.slider_3 {
	position: relative;
	height: 550px;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}
.slider_3 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider_3 ul img {
	width: 900px;
	max-height: 600px;
	margin: 0 auto;
	padding: 0 auto;
	object-position: bottom;
}

/* こちらはliタグに上書いて下さい */
.slider_3 ul li {
	/* mainで指定したレイアウト幅いっぱいまで広げます */
	width: 100%;
	/* heightは実際に画面を見つつ調整して下さい */
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	animation-iteration-count: infinite;
	animation-duration: 21s;
}

/* アニメーションの開始時間設定 */
.slider_3 ul li:nth-child(1) {
	animation-name: slider_3;
	animation-delay: -1s;
}
.slider_3 ul li:nth-child(2) {
	animation-name: slider_3;
	animation-delay: 6s;
	opacity: 0;
}
.slider_3 ul li:nth-child(3) {
	animation-name: slider_3;
	animation-delay: 13s;
	opacity: 0;
}
/* フェードイン・フェードアウトの設定 */
@keyframes slider_3 {
	0% {
		opacity: 0;
	}
	4.76% {
		opacity: 1;
	}
	33.33% {
		opacity: 1;
	}
	42.85% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* 画像 */

/* 電子書籍 */
/* .works_books_item {
	display: flex;
	width: 50%;
} */

.works_cards_items {
	margin: 20px 20px 20px 20px;
}

/* コンテンツ幅からはみ出たスライドを薄くする
.works_photo_item {
    .swiper-slide {
      &:not(.swiper-slide-visible) {
        .slide {
          pointer-events: none;
          opacity: .3;
        }
      }
    }
  }
  */

/* works帯タイトル */
#works {
	font-size: 40px;
	font-weight: bold;
	background-color: #40534d;
	max-width: 900px;
	color: #ffffff;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}

/* works imgがhoverする設定 */
.works_photo_item :hover {
	transform: translateY(-20px);
}
.works_books_item :hover {
	transform: translateY(-20px);
}
.works_cards_item :hover {
	transform: translateY(-20px);
}

/* worksのcubeのところ */
body {
	position: relative;
	height: 100%;
}

body {
	background: #ffffff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.swiper-initialized {
	overflow: hidden;
}
/* .swiper {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
} */

/* about帯タイトル */
#about {
	font-size: 40px;
	font-weight: bold;
	background-color: #40534d;
	max-width: 900px;
	color: #ffffff;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}

/* contact帯タイトル */
#contact {
	font-size: 40px;
	font-weight: bold;
	background-color: #40534d;
	max-width: 900px;
	color: #ffffff;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}

.profile_name_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.profile_photo {
	max-width: 300px;
}

.profile_name {
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 18px;
	font-family: "Noto Sans JP", sans-serif;
	margin: 0 auto;
}

/* About */
.about {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px auto 20px auto;
	max-width: 960px;
}

/* Works */
.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px auto 20px auto;
	max-width: 960px;
}

/* Worksの画像と説明部分 */
.item {
	padding-bottom: 60px;
	width: 25%;
}

/* Worksの画像と説明部分（2個目） */
.item_center {
	padding-right: 20px;
	padding-left: 20px;
}

/*SKILL*/
.skill_title_language {
	font-size: 25px;
}
.skill_title_works {
	font-size: 25px;
}
.skill_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pc_photo {
	max-width: 350px;
	height: fit-content;
}

/* thoughtsのところ */
.thoughts_area {
	display: flex;
}
/* thoughtsの緑画像の上に文字 */
.thought_area_title {
	width: 900px;
	height: 300px;
	position: relative;
}
.green {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.thoughts_title_main {
	position: absolute;
	bottom: 190px;
	left: 300px;
	font-size: 30px;
	color: #000000;
	padding: 0;
	margin: 0;
	font-family: monospace;
}

.flower_pic {
	width: 130px;
}

.thoughts_p_box {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

/* フッター */
footer p {
	text-align: center;
	padding-bottom: 20px;
	font-family: "Noto Sans JP", sans-serif;
}

/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
	.item {
		width: 100%;
		text-align: center;
		padding-bottom: 40px;
	}
}
